<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Songr Application</title>
</head>
<body>
<ul th:each="Album : ${albums}">
    <li th:text="'Album name: ' + ${Album.title}"></li>
    <li th:text="'Artist: '+ ${Album.artist}"></li>
    <li th:text="'Songs: '+ ${Album.songCount}"></li>
    <li th:text="'Length: '+ ${Album.length}"></li>
    <li th:text="'image: '+ ${Album.imageUrl}"></li>
    <div>Songs:</div>
    <ul th:each="song : ${Album.songsOnThisAlbum}">
        <li th:text="${song.title}"></li>
        <li th:text="${song.length}"></li>
        <li th:text="${song.trackNumber}"></li>
    </ul>
    <form action="/add-song" method="post">
        <fieldset>
            <legend>Add an Song to this Album</legend>
            <label >Song title</label>
            <input type="text" name="title">
            <label>Song Length</label>
            <input type="text" name="length">
            <label>Track Number</label>
            <input type="text" name="trackNumber">
            <input  type="hidden" name="album" th:value="${Album.title}"/>
            <input type="submit" value="Add Song to Album">
        </fieldset>
    </form>

    <form action="/" method="post">
    <fieldset>
        <legend>Add Album to Shelf</legend>
        <label> Album name</label>
        <input type="text" name="title"/>
        <label>Artist</label>
        <input type="text" name="artist">
        <label>Songs</label>
        <input type="text" name="songCount">
        <label>Length</label>
        <input type="text" name="length">
        <label>Album Artwork</label>
        <input type="text" name="imageUrl">
        <input type="submit" value="Add Album">

    </fieldset>
</form>
</ul>


</body>
</html>